body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    background: #0088FF;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}

#tasks-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* estilizando o form */

#tasks-header {
    margin-top: 40px;
}

#add-task-form {
    position: relative;
}

#add-task-form input {
    box-sizing: border-box;
    border: 1px solid #0088FF;
    background: #fff;
    color: #0088FF;
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

#add-task-form input::placeholder {
    color: #0088FF;
}

#add-task-form input:focus {
    outline: none;
}

#add-btn {
    position: absolute;
    border: 1px solid #0088FF;
    background: #fff;
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 53px;
    top: 0;
    right: 0;
    padding-top: 3px;
}

ion-icon {
    font-size: 25px;
}

#add-btn:hover {
    background-color: #1a6be4;
    color: #fff;
}

/* tasks container */

#task-list {
    list-style: none;
    padding-left: 0;
}

#task-list li {
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 3px solid #1a6be4;
    background-color: #fff;
    color: #0088FF;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: .5s;
    font-weight: bold;
}

#task-list li span {
    font-size: 18px;
}

#task-list ion-icon {
    position: absolute;
    top: 0;
    height: 40px;
    cursor: pointer;
    transition: .5s;
    width: 30px;
    padding: 5px;
}

.done-btn {
    right: 40px;
}

.done-btn:hover {
    color: #fff;
    background-color: #09e01b;
}

.remove-btn {
    right: 0;
}

.remove-btn:hover {
    color: #fff;
    background-color: #eb0927;
}

.hide {
    display: none;
}


#task-list li.done {
    background-color: #0c336d;
    color: #fff;
    text-decoration: line-through;
}